.candidates-wraper {
    width: 1400px;
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
}

.candidates-content {
    /* border: 3px solid hotpink; */
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.candidates-list {
    height: 760px;
    overflow:hidden;
    overflow-y:scroll;
}

.individual-candidate{
    list-style-type: none;
}