  .global-chat-wraper{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
  }

  .individual-chat-wraper{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .dark-custom{
    background-color: rgba(20, 20, 20, 0.6);
    border: none;
}