.welcome-wraper {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
}

.welcome-message {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}