.edit-profile-wraper {
    width: 1400px;
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
}

.edit-profile-content {
    /* border: 3px solid hotpink; */
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.dark-custom{
    background-color: rgba(20, 20, 20, 0.6);
    border: none;
}
