.offer {
    border: 1px solid rgba(20, 20, 20, 0.6);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
    width: 550px;
    border-radius: 10px;
    list-style-type: none;
}

.global-offer-list-wraper {
    width: 1400px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    height: 1300px;
}

.offer-list-wraper {
    /* border: 3px solid hotpink; */
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.offer-list{
    height: 760px;
    overflow:hidden;
    overflow-y:scroll;
}