.options-container{
    display: flex;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* border: 5px solid red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offerSwiperButton{
    background-color: white;
    border: 13px solid #e85d04;
}

.offerSwiperButton:hover{
    background-color: #e85d04;
    border: 1px solid white;
}

.offer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* border: 3px solid hotpink; */
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

