.link-custom{
    font-size: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.link-custom:hover {
    background-color: rgba(20, 20, 20, 0.6);
    color: #e85d04;
    
  }

  .dark-custom{
      background-color: rgba(20, 20, 20, 0.6);
  }