img {
    width: 100px;
}


.myCustomNavLink {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .myCustomNavLink:hover {
    color: #e85d04;
  }

  /* .sidebar-custom{
      border-radius: 15px;
      width: 200px;
      position: fixed;
      top: 150px;
      bottom: 0;
      left: 150px;
      min-height: 100vh !important;
      z-index: 100;
      padding: 48px 0 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  } */

  .sidebar-custom{
    border-radius: 15px;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
/* 
  .sidebar-container {
      display: flex;
      justify-content: space-between;
      align-self: flex-start;
  } */

  .sidebar-container {
    align-self: flex-start;
}