
.wraper{
  position: fixed;
  top: 300px;
  width: 300px;
  left: 25%;
  right: 25%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 960px;
}

section {
  width: 960px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.sidebar {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 200px 0;
  display: inline-block;
}


.App {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 20px 0;
}

.content {
  border: 1px solid red;
  margin-top: 250px;
}

.content-container {
  display: inline-flex;
  justify-content: space-around;
}


.welcomePage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: rgba(20, 20, 20, 0.9);
}

.loginButton {
  font-size: 25px;
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  border: none
}

.loginButton:hover {
  color: #ff9500;
  border-radius: 50%;
  border: none;
  background-color: rgba(20, 20, 20, 0.9);
}

.buttonWrapper{
  display: flex;
}


.linkText{
  color: aliceblue;
}

.linkText:hover{
  color: #ff9500;
  text-decoration: none;
}

.logo{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}